@import "../../colors.scss";

.filter-bar {
  padding: 15px;
  text-align: center;
  background-color: $primary;
}

select {
  width: 300px;
  color: $text;
  height: 37px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0 5px 20px;
  border: 1px solid $secondary;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../assets/arrow.svg") 96% / 5% no-repeat $secondary;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}
